:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 2px;
}

.clickable {
  transition: top ease 0.5s;
  position: relative;

  &:active {
    /*box-shadow: none;*/
    top: 5px;
  }
}
